In [1]:
print("this is my print")

this is my print

In [2]:
l = [324,45,456,234]

In [3]:
len(l)

4

In [4]:
type(l)

list

In [5]:
def test():
    pass

In [6]:
def test1():
    print("this is my very very first finction")

In [7]:
test1()

this is my very very first finction

In [8]:
test() +"manoj"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [9]:
def test2():
    return "this is my very first return "

In [10]:
test2()

'this is my very first return '

In [11]:
test2() + "manoj"

'this is my very first return manoj'

In [12]:
def test3() :
    return "sudh" , 23, 345.45 , [1,2,3,4,5]

In [13]:
test3()

('sudh', 23, 345.45, [1, 2, 3, 4, 5])

In [14]:
a,b,c,d = test3()

In [15]:
a

'sudh'

In [16]:
b

23

In [17]:
c

345.45

In [18]:
d

[1, 2, 3, 4, 5]

In [19]:
a = 1
b = 3

In [20]:
a , b = 1, 3

In [21]:
def test4():
    a = 5+6/7
    return a

In [22]:
test4()

5.857142857142857

In [24]:
def test5(a,b,c):
    d = a+b/c
    return d

In [25]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

In [26]:
test5(2,3,5)

2.6

In [27]:
def test6(a,b):
    return a+b

In [29]:
test6(3,5)

8

In [32]:
test6("manoj" ," pandey")

'manoj pandey'

In [33]:
test6([1,2,3,4,5,6] , [7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
l = [1,2,3,4,"manoj", "pandey" , [1,2,3,4,5]]

In [35]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [36]:
l1

[1, 2, 3, 4]

In [38]:
def test7(l):
    l1 = []
    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    return l1

In [39]:
test7(l)

[1, 2, 3, 4]

In [3]:
l

[1, 2, 3, 4, 'manoj', 'pandey', [1, 2, 3, 4, 5]]

In [5]:
def test8(a):
    for i in a :
        if type (i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append
    return l

In [6]:
test8(l)

[1, 2, 3, 4, 'manoj', 'pandey', [1, 2, 3, 4, 5], 1, 2, 3, 4, 5]

In [7]:
def test9(a):
    """this is my function to extract num date from list"""
    for i in a :
        if type (i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append
    return l

In [10]:
test9(l)

[1, 2, 3, 4, 'manoj', 'pandey', [1, 2, 3, 4, 5], 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [11]:
def test10(a,b):
    return a+b

In [13]:
test10(4,5)

9

In [14]:
def test11(*args):
    return args

In [15]:
type(test11())

tuple

In [16]:
test11(1,2,3)

(1, 2, 3)

In [18]:
def test12(*manoj):
    return manoj

In [19]:
test12(1,2,23,4)

(1, 2, 23, 4)

In [20]:
def test13(*args , a) :
    return args , a

In [21]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [22]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [23]:
def test14(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [24]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [25]:
test14(3,4)

(23, 1, 3, 4)

In [26]:
test14(2,5 , a = 2342)

(2342, 1, 2, 5)

In [28]:
def test15(**kwargs):
    return kwargs

In [29]:
test15()

{}

In [30]:
type(test15())

dict

In [31]:
test15(a = [1,2,3,4] , b = "sudh" , c = 23.45 )

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}

# Which keyword is used to create a function? Create a function to return a list of odd numbers in the  range of 1 to 25.

In [32]:
def odd_numbers(n):
    odd_list = []
    for i in range(1, n+1):
        if 1 % 2 != 0:
            odd_list.append(i)
    return odd_list

print(odd_numbers(25))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

# Why *args and **kwargs is used in some functions? Create a function each for *args and **kwargs  to demonstrate their use.

In [33]:
def print_args(*args):
    print("Arguments passed:", args)

print_args(1, 2, 3, 4)

Arguments passed: (1, 2, 3, 4)

In [34]:
def print_kwargs(**kwargs):
    print("Keyword arguments:", kwargs)

print_kwargs(a=1, b=2, c=3)

Keyword arguments: {'a': 1, 'b': 2, 'c': 3}

# What is an iterator in python? Name the method used to initialise the iterator object and the method  used for iteration. Use these methods to print the first five elements of the given list [2, 4, 6, 8, 10, 12, 14,  16, 18, 20].
 An iterator in Python is an object that implements two methods, the __iter__() method that initializes the iterator, and the __next__() method that is used to get the next value from the iterator. To print the first five elements of the list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], you can create an iterator object from the list and use a for loop to iterate over the first five values:

In [35]:
list_ = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
iterator = iter(list_)

for i in range(5):
    print(next(iterator))
list_ = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
iterator = iter(list_)

for i in range(5):
    print(next(iterator))

2
4
6
8
10
2
4
6
8
10

# Generator Functions

In [1]:
range(10)

range(0, 10)

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):
        yield a 
        a,b = b , a+b

In [4]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [5]:
def test_fib1():
    a,b = 0,1
    while True:
        yield a 
        a,b = b , a+b

In [6]:
fib = test_fib1()

In [7]:
type(fib)

generator

In [8]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [9]:
s = "manoj"

In [10]:
for i in s :
    print(i)

m
a
n
o
j

In [11]:
s

'manoj'

In [12]:
s1 = iter(s)

In [13]:
type(s1)

str_iterator

In [14]:
next(s1)

'm'

In [15]:
next(s1)

'a'

In [16]:
next(s1)

'n'

In [17]:
next(s1)

'o'

In [18]:
next(s1)

'j'

In [19]:
def count_test(n):
    count = 1
    while count <= n :
        yield count
        count = count + 1

In [20]:
c = count_test(5)

In [21]:
type(c)

generator

In [22]:
for i in c:
    print(i)

1
2
3
4
5

#  What is a generator function in python? Why yield keyword is used? Give an example of a generator  function. 
# A generator function in Python is a special type of function that returns a generator iterator. It is defined like a normal function, but instead of using a return statement, it uses the yield keyword. The yield keyword is used to return a value from the function and pause its execution, allowing the function to be resumed later, from where it left off, when the next value is requested.

In [24]:
def fibonacci(n):
    a , b = 0,1
    for i in range(n):
        yield a
        a, b = b, a + b
        
for number in fibonacci(10):
    print(number)

0
1
1
2
3
5
8
13
21
34

# Create a generator function for prime numbers less than 1000. Use the next() method to print the  first 20 prime numbers.

In [30]:
def prime_numbers():
    yield 2
    primes = [2]
    candidate = 3
    while candidate < 1000:
        is_prime = True
        for prime in primes:
            if candidate % prime == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(candidate)
            yield candidate
        candidate += 2
            
prime_gen = prime_numbers()
for i in range(20):
    print(next(prime_gen))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71

# Write a python program to print the first 10 Fibonacci numbers using a while loop.

In [31]:
a, b = 0, 1
i = 0

while i < 10:
    print(a)
    a, b = b, a + b
    i += 1

0
1
1
2
3
5
8
13
21
34

# Lambda Function

In [1]:
n = 3 
p = 2

In [2]:
def test(n,p):
    return n**p

In [3]:
test(3,2)

9

In [4]:
a = lambda n, p :n**p

In [5]:
a(3,2)

9

In [6]:
add = lambda x,y : x+y

In [7]:
add(4,5)

9

In [8]:
c_to_f = lambda c : (9/5)*c + 32

In [9]:
c_to_f(45)

113.0

In [12]:
finding_max = lambda x,y : x if x>y else y

In [13]:
finding_max(34,23)

34

In [14]:
s = "I want to become data scientist"

In [15]:
find_len = lambda s :len(s)

In [16]:
find_len(s)

31

# Map Function

In [17]:
l = [2,3,4,5,6]

In [18]:
def test(l):
    l1 = []
    for i in l :
        l1.append(i**2)
    return l1

In [19]:
test(l)

[4, 9, 16, 25, 36]

In [20]:
def sq(x):
    return x**2

In [21]:
list(map(sq , l))

[4, 9, 16, 25, 36]

In [22]:
list(map(lambda x : x**2 , l))

[4, 9, 16, 25, 36]

In [23]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

list(map(lambda x , y : x+y , l1 , l2 ))

[7, 9, 11, 13, 15]

In [24]:
def add(x,y) :
    return x+y

In [25]:
list(map(add , l1 , l2 ))

[7, 9, 11, 13, 15]

In [26]:
s = "pwskills"
list(map(lambda s : s.upper() , s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

# Reduce Function

In [27]:
from functools import  reduce

In [28]:
l = [1,2,3,3,4,5]

In [29]:
reduce(lambda x ,y : x+y , l)

18

In [30]:
reduce(lambda x ,y : x+y , [1])

1

In [31]:
reduce(lambda x ,y : x*y , l)

360

In [32]:
l

[1, 2, 3, 3, 4, 5]

In [33]:
reduce(lambda x,y :x if x > y else y , l )

5

# Filtter Function

In [34]:
l

[1, 2, 3, 3, 4, 5]

In [35]:
list(filter(lambda x : x % 2 == 0 , l))

[2, 4]

In [36]:
list(filter(lambda x : x % 2 != 0 , l))

[1, 3, 3, 5]

In [37]:
l1 = [-3,4,5,6,-1,-5]

In [38]:
list(filter(lambda x : x<0 , l1 ))

[-3, -1, -5]

In [39]:
l2 = ["sudh"  , "pwskills" , "kumar" , "bengalore" , "krish"]

In [40]:
list(filter(lambda x : len(x) <6 , l2))

['sudh', 'kumar', 'krish']

# create a python program to sort the given list of tuples based on integer value using a  lambda function. 
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [41]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_players = sorted(players, key=lambda x: x[1])
print(sorted_players)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

# Write a Python Program to find the squares of all the numbers in the given list of integers using  lambda and map functions. 
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Write a python program to convert the given list of integers into a tuple of strings. Use map and  lambda functions 
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [43]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
string_numbers = tuple(map(lambda x: str(x), numbers))
print(string_numbers)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Write a python program using reduce function to compute the product of a list containing numbers  from 1 to 25.

In [44]:
from functools import reduce

numbers = [i for i in range(1, 26)]
product = reduce(lambda x, y: x*y, numbers)
print(product)

15511210043330985984000000

# Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the  filter function.
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [45]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
result = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))
print(result)

[6, 60, 90, 120]

#  Write a python program to find palindromes in the given list of strings using lambda and filter  function.
# ['python', 'php', 'aba', 'radar', 'level']

In [46]:
strings = ['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x: x == x[::-1], strings))
print(result)

['php', 'aba', 'radar', 'level']